<mat-toolbar color="primary">
    <button mat-icon-button (click)="openLink('')">
        <mat-icon>add_chart</mat-icon>
        <span style="font-size: 1rem;"> {{title}}</span>
    </button>
    <div class="fill-space"></div>
    <button mat-mini-fab color="primary" (click)="openLink('bar-chart')">
        <mat-icon>bar_chart</mat-icon>
    </button>
    &nbsp;
    <button mat-mini-fab color="primary" (click)="openLink('area-chart')">
        <mat-icon>show_chart</mat-icon>
    </button>
    &nbsp;
    <button mat-mini-fab color="primary" (click)="openLink('heat-map')">
        <mat-icon>border_all</mat-icon>
    </button>
    &nbsp;
    <button mat-mini-fab color="primary" (click)="openLink('bubble-chart')">
        <mat-icon>bubble_chart</mat-icon>
    </button>
</mat-toolbar>